* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.app {
  text-align: center;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 15px 50px;
  position: absolute;
  width: 100%;
  color: white;
  z-index: 10;
}

.navbar ul {
  display: flex;
  list-style: none;
  gap: 25px;
  align-items: center;
}

.login-btn {
  background: white;
  color: green;
  padding: 8px 15px;
  border-radius: 20px;
  cursor: pointer;
}

/* HERO */
.hero {
  height: 90vh;
  background-size: cover;
  background-position: center;
  position: relative;
}

.overlay {
  background: rgba(0, 0, 0, 0.55);
  height: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.overlay h1 {
  font-size: 45px;
  margin-bottom: 10px;
}

.overlay h2 {
  font-size: 32px;
  margin-bottom: 20px;
}

.payment-icons span {
  background: white;
  color: black;
  padding: 8px 15px;
  margin: 5px;
  border-radius: 8px;
}

/* SHOP CARDS */
.shops {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 40px;
}

.card {
  background: #f2c66d;
  padding: 30px;
  border-radius: 15px;
  font-size: 20px;
  font-weight: bold;
}

/* TRUST */
.trust {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 40px;
}

.trust-box {
  background: #14532d;
  color: white;
  padding: 25px 40px;
  border-radius: 10px;
}

.trust-box h3 {
  font-size: 28px;
}

/* HOW IT WORKS */
.how {
  padding: 40px;
}

.steps {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  gap: 30px;
}
